<!doctype <!DOCTYPE html>
<html>
<head>
    <title>Earth Quake History</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script type="text/javascript" src="../static/asd.js"></script>
</head>

<body>
<div class="tabs">
    <ul class="tab-links">
        <li><a href="http://127.0.0.1:5000/index">Main Page</a></li>
        <li><a href="http://127.0.0.1:5000/eqhis">EarthQuake History</a></li>
        <li><a href="http://127.0.0.1:5000/eqrealdata">Real Data</a></li>
        <li class="active"><a href="http://127.0.0.1:5000/about">About</a></li>
    </ul>
    <div class="tab-content">
    	<div id="tab1" class="tab"></div>
        <div id="tab2" class="tab"></div>
        <div id="tab3" class="tab"></div>
        <div id="tab4" class="tab active">
            <p>Tab #4 content goes here!</p>
            <p><h1>Engineering ADDA</h1></p>
            <p>About <b>Engineering Adda</b> About <b>Engineering Adda</b>About <b>Engineering Adda</b>About <b>Engineering Adda</b>About <b>Engineering Adda</b>About <b>Engineering Adda</b>About <b>Engineering Adda</b>About <b>Engineering Adda</b>About <b>Engineering Adda</b>About <b>Engineering Adda</b>vvvAbout <b>Engineering Adda</b>vvvvAbout <b>Engineering Adda</b>About <b>Engineering Adda</b>About <b>Engineering Adda</b>About <b>Engineering Adda</b>About <b>Engineering Adda</b>About <b>Engineering Adda</b>About <b>Engineering Adda</b></p>
        </div> 
    </div>
</div>

</body>
</html>